<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação Docente</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cursos.css') }}">
</head>
<body>
    <header>
         <h1>AVALIAÇÃO DOCENTE</h1>
    </header>
   <main>
        <ul>
            {% for nivel, cursos in cursos_por_nivel.items() %}
                <li class="title">Nível: Ensino {{ nivel }}</li>
                <ul>
                    {% for curso in cursos %}                
                        <li class="bloco"><a href="{{ url_for('materias', curso_id=curso.IDCurso) }}">{{ curso.Titulo }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </main>
</body>
</html>



